@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Instrument+Serif:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@import "./base/base.css";
@import "./base/grid.css";

@theme {
    --font-geist: "Geist", sans-serif;
    --font-instrument: "Instrument Serif", serif;
    --font-jet: "Jetbrain Mono", monospace;
    --text-dark: #0a0a0a;
    --color-paper: #f1ece2;
}
